SUPABASE_URL=https://gkgzwcxivnffsecshvfs.supabase.co
SUPABASE_PUBLISHABLE_KEY=your_publishable_key
SUPABASE_DB_URL=postgresql://postgres:[YOUR-PASSWORD]@db.gkgzwcxivnffsecshvfs.supabase.co:5432/postgres

